.bg-img {
    height: 100vh;
    background-image: url(../img/bg-2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.education-main {
    display: flex;
    justify-content: space-around;
}

img {
    margin-top: 30px;
    width: 400px;
}

.education-texts {
    color: white;
}


h1 {
    font-size: 23px;
    font-style: italic;
    color: navajowhite;
    font-weight: 600;
}

.titles {
    color: navajowhite;
}