.bg-img {
    height: 100vh;
    background-image: url(../img/bg-2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.education-main{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
img{
    width: 400px;
}

.education-texts{
    color: white;
}
.edu-txt{
    font-size: 20px;
}

h1{
    font-size: 30px;
    font-style: italic;
    color: navajowhite;
    font-weight: 600;
}