@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Inter:wght@100&family=Martian+Mono:wght@300;400&family=Mooli&family=Onest:wght@100&family=Poppins:wght@200&family=Roboto:wght@400;500;700&family=Rubik&family=Young+Serif&display=swap');
body{
    display: flex;
    justify-content: center;
}
section{
    width: 80%;
    height: 97vh;
    background-color: rgb(7, 7, 71);
}
.pages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgb(7, 7, 71);
    font-family: 'Lato', sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border: 2px solid rgb(7, 7, 71);
}
.icons{
    display: flex;
    justify-content: end;
    margin-right: 50px;
    width: 50%;
}
.main{
    display: flex;
    color: white;
    margin-left: 70px;
    margin-top: 50px;
}
.profImg{
    width: 200px;
    border-radius: 50%;
}