@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Inter:wght@100&family=Martian+Mono:wght@300;400&family=Mooli&family=Onest:wght@100&family=Poppins:wght@200&family=Roboto:wght@400;500;700&family=Rubik&family=Young+Serif&display=swap');

.bg-img {
    height: 100vh;
    background-image: url(../img/b1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(3px);
}

.icons {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    width: 50%;
}

.main {
    display: grid;
    grid-template-columns: 20% 80%;
    color: white;
    margin-left: 70px;
    margin-top: 70px; 
}

.profImg {
    width: 250px;
    border-radius: 50%;
}

.texts{
    margin-left: 50px;
}
h1{
    font-size: 40px;
}